.App {
  text-align: center;
}

#grid{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.blocks{
  border-width:5px;
  border-color: black;
  border-style: solid;
  

  
}
